[Desktop Entry]
Type=Application
Name=PiliPlus
Comment=A third-party Bilibili client developed in Flutter
Comment[zh_CN]=使用 Flutter 开发的 Bilibili 第三方客户端
Exec=piliplus
Icon=com.example.piliplus
Terminal=false
StartupWMClass=com.example.piliplus
Categories=AudioVideo;Video;Player;
Keywords=Bilibili;Video;Player;
Keywords[zh_CN]=哔哩哔哩;B站;视频;播放器;
